body {
    font-family: DomaineDisplay-Semibold;
}

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.outer-container {
    width: 100%;
    min-height: 100vh;
}

.malovich {
    position: absolute;
    top: 15vh;
    right: 43%;
    left: 40%;
    width: 30%;
    height: 400px;
    background-color: #fff;
    border: 3px solid #000;
}

.grey-rectangle {
    position: absolute;
    top: 25vh;
    right: 35%;
    left: 32%;
    width: 28%;
    height: 425px;
    background-color: #eee;
}

.hero-container {
    max-width: 800px;
}

h1 {
    font-size: 30px;
    max-width: 600px;
    padding-left: 10px;
    padding-top: 10%;
}

p {
    font-size: 15px;
    font-family: 'Inconsolata';
    line-height: 2;
    padding-left: 12%;
    max-width: 450px;
}

h1,
p {
    position: relative;
}

.lines {
    position: absolute;
    width: 300px;
    top: 10vh;
    left: 30%;
    overflow: hidden;
}

.line {
    position: relative;
    height: 1px;
    background-color: #000;
}

.line-1 {
    position: relative;
    top: 3px;
    height: 1px;
    background-color: #000;
}
